
body {
    background-color: lightgray;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    margin: 20px;
}

section {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}

h2 {
    color: green;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px;
}



/* Botón día y noche */
button {
    background-color: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

/* Modo noche */
body.noche {
    background-color: #222;
    color: white;
}

body.noche section {
    background-color: #333;
    color: white;
}

body.noche h2 {
    color: lightgreen;
}

body.noche footer {
    background-color: black;
}
