
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Menú */
nav {
    margin-top: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

nav a:hover {
    color: yellow;
}

/* Contenido */
main {
    padding: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

/* Títulos */
h2 {
    color: darkgreen;
}

/* Listas */
li {
    margin: 8px;
}

/* Pie de página */
footer {
    background-color: darkgreen;
    color: white;
    text-align: center;
    padding: 15px;
}
